  .FormInput input{
    display: block;
    border: 1px solid #cccccc; /*цвет рамки*/
    border-radius: 3px; /*закругление углов (общее)*/
    background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
    outline: none;/*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
    height: 24px; /*высота на свое усмотрение*/
    width: 100%;/* ширина на свое усмотрение*/
    color: #cccccc; /*цвет шрифта в обычном состоянии*/
    font-size: 11px; /* Размер шрифта*/
    font-family: Tahoma;/* Стиль шрифта*/
    margin: 5px auto ;
  }

  .FormInput label{
    display: block;
    outline: none;/*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
    height: 24px; /*высота на свое усмотрение*/
    width: 100%;/* ширина на свое усмотрение*/
    color: #cccccc; /*цвет шрифта в обычном состоянии*/
    font-size: 13px; /* Размер шрифта*/
    font-family: Tahoma;/* Стиль шрифта*/
    margin: 5px 0 ;
  }

  div.FormInput {
    display: block;
    margin: 5px;
    box-sizing: border-box;
  }