.RentalAnnouncementItem
{
    position: relative;
    padding: 20px;
    margin: 10px auto 5px auto;

    background-color: rgb(32, 38, 40);
    border-radius: 10px;
}

.RentalAnnouncementItem .map
{
    width: 50%;
    vertical-align:top;
    display: inline-block;
}

.RentalAnnouncementItem .info
{
    padding: 5px;
    overflow: hidden; /* Обрезаем содержимое */
    color: #cccccc;
    width: 47%;
    vertical-align:top;
    display: inline-block;
    text-align: initial;
}

.RentalAnnouncementItem .InfoField
{
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    max-height: 125px;
}

.RentalAnnouncementItem .Button
{
    display: inline-block;
    margin: 6px;    

}

