form.RentalRequestItem
{
  align-items: center;
  justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    margin: 10px auto 250px auto;
    width: 700px;
    background-color: rgb(32, 38, 40);
    border-radius: 10px;
}

h1.RentalRequestItem
{
    padding: 20px;
    width: 270px;
    margin: 100px auto 0 auto;
}

.RentalRequestItem .ModelInput {   
    padding: 1px;
    width: 300px;
    margin: 10px auto;
    box-sizing: border-box;
  }

  
.RentalRequestItem .ModelTextArea{   
    padding: 1px;
    width: 680px;
    margin: 10px auto;
    box-sizing: border-box;
  }
