body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.RentalRequest{
  border: 4px double black;
}

.Input{
  border: 1px solid #cccccc; /*цвет рамки*/
  border-radius: 3px; /*закругление углов (общее)*/
  background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
  outline: none;/*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
  height: 24px; /*высота на свое усмотрение*/
  width: 120px;/* ширина на свое усмотрение*/
  color: #cccccc; /*цвет шрифта в обычном состоянии*/
  font-size: 11px; /* Размер шрифта*/
  font-family: Tahoma;/* Стиль шрифта*/
}